[2016-07-19 22:14] autokad opened #1 "feature engineering"
•	Feature Engineering
o	Feature Transformations
	Log
	Square
	Inverse
	Percentile
	ZScore
o	Feature Creation
	Interactions (+ * - )
	LDA (Latent Dirichlet Allocation)
•	Feature Reduction (Selection / Extraction)
o	Stepwise Regression
o	RFE (Recursive Feature Elimination)
o	PCA (Principle Component Analysis)
o	LDA (Latent Dirichlet Allocation)
o	Linear Discriminate Analysis -Also LDA =/
o	Ge

[2016-07-19 22:22] autokad commented on #1
These can be broken down as functions we need to implement in django and also something we an all try to get a handle of machine learning, feel free to add to the list

[2016-07-19 23:15] hhummel opened #2 "Work with django team to select which examples should be in the training set"

[2016-07-19 23:16] cgreene opened #3 "When we run an analysis, what do we want to get back?"
We need to design our results json so that we can later visualize the most important results via the results viewer from the UI team.

[2016-07-19 23:16] autokad commented on #3
F1 Score

[2016-07-19 23:18] autokad commented on #3
Confusion Matrix

[2016-07-19 23:19] autokad commented on #3
Y Hat

[2016-07-19 23:21] stephenshank opened #4 "Notebook explaining an RNA-seq classifier"
There are Jupyter notebooks on [acquiring](https://github.com/dhimmel/cancer-data/blob/master/1.TCGA-download.ipynb) and [cleaning](https://github.com/dhimmel/cancer-data/blob/ffe66ab26000379adcd7138b8ff39920d4692ef1/2.TCGA-process.ipynb) data from TCGA. Is there one that has a outline of the type of classifier that Cognoma will run on this data for our users, and if not, would it be much trouble

[2016-07-19 23:28] hhummel opened #5 "Create a table classifying the different algorithms"
Columns including binary classification, how hard to implement and estimate of quality

[2016-07-19 23:41] cgreene commented on #3
prediction scores

[2016-07-19 23:42] ejsegall opened #6 "Save performance-related parameters when processing queries (for later response time prediction)"
Some queries will be much faster than others. It will be very helpful to both end users and UI designers to have info about how long a query can be expected to take.

If we save performance-related parameters such as the query itself, the sizes of referenced tables, and relevant query time intervals (database, post-processing), then we will have lots of data to mine later for predicting response t

[2016-07-20 00:17] bevinahally opened #7 "Learning Resources for the Uninitiated - Machine Learning Edition"
Going off of @gwaygenomics's post in the Cognoma repo, this might be a good place to discuss ML-specific resources for the uninitiated, especially for others like me who are new to the bioinformatics domain.

https://github.com/cognoma/cognoma/issues/15

[2016-07-20 01:56] yl565 commented on #3
Feature ranking, a list of selected features. For GLM, F-stat/t-stat and p-values of predictors, model goodness of fit

[2016-07-20 13:03] gwaybio commented on #5
@dhimmel this sounds like a **task** to me :)

[2016-07-20 14:32] dhimmel commented on #4
I think a notebook would serve as a great example here.

You could use the [subsetted files available here](https://github.com/dhimmel/cancer-data/tree/process/data/subset). For example, if you wanted to fit a model for all samples, but only a subset of the genes, you can read the datasets with:

[code]

For the mutation data, it may be necessary to ask whether a sample has a mutation in any of th

[2016-07-20 22:41] dhimmel opened #8 "Could a general mutation-load pattern confound mutation-specific signals?"
I think it's likely that there is a general expression pattern for how mutated a tumor is. For example, super mutated tumors may have wacky gene expression, solely because they're super mutated and not specifically because of the specific mutations they harbor.

Since for a given gene, the tumors with mutations are more likely to have more mutations overall, this could cause confounding. It may ap

[2016-07-20 23:11] awm33 commented on #6
The task service will have the overall start and end time. To get finer grain timings, I'd suggest creating a database table to consistently record this information. You guys could access this directly using SQL or the API could expose it.

[2016-07-20 23:16] awm33 opened #9 "Task Payload Data"
The task service can hand off anything you can store in JSON. This is typically where task configuration is stored, for instance what algorithm to use, maybe the gene list, algorithm parameters.

For a given task, what do you need to know?

Ex

    {
        algorithm: "svm",
        ....
    }

[2016-07-21 01:16] cgreene commented on #8
This is an interesting question. From some quick searching of the academic literature, I've dug up mutational signatures of heavy mutation load cancers (the types of mutations that occur in these cancers seem to be different). I didn't find anything on a gene expression pattern common to them. It may be important to control for confounding by cancer type (maybe you pick the most mutated 10% within

[2016-07-22 15:42] yl565 commented on #1
- Feature Reduction (Selection / Extraction)
  - Canonical correlation analysis

[2016-07-22 16:53] yl565 commented on #5
#### Some popular algorithms that has been already implemented in sklearn:

| Type | Algorithm | Implementation | Quality |
| --: | --- | :-: | --: |
| Discriminant Analysis | LDA/QDA | sklearn.discriminant_analysis |  |
| Generalized Linear Models | Logistic regression with L1/L2 regularization | sklearn.linear_model.LogisticRegressionCV |  |
| Generalized Linear Models | OLS | sklearn.linear_mod

[2016-07-23 13:46] hhummel commented on #7
My knowledge of bioinformatics would be obsolete if I had any, but I do have some suggestions for machine learning that I like:  "An Introduction to Statistical Learning" by James, Witten, Hastie and Tibshirani is efficient and approachable in introducing the most important ML algorithms.  The code exercises are in R rather than Python, but the exposition of the ideas is code-agnostic.  Hastie and

[2016-07-25 20:11] hhummel commented on #5
I went through the supervised learning classifiers in scikit-learn in the User's Guide, capturing the highlights of the blurb and url of the documentation.

[Classifiers.xlsx](https://github.com/cognoma/machine-learning/files/382370/Classifiers.xlsx)

[2016-07-25 20:35] hhummel commented on #5
I don't have a good enough feel for the problem we are solving or the characteristics of the data, but I like what they say about linear and quadratic discriminant analysis:  "These classifiers are attractive because they have closed-form solutions that can be easily computed, are inherently multiclass, have proven to work well in practice and have no hyperparameters to tune."

[2016-07-25 21:12] cgreene commented on #4
@gwaygenomics just put up an example via PR #10 . Once that gets approved we'll have an example notebook. @stephenshank: since you posted the issue, do you want to review the PR?

[2016-07-25 21:58] stephenshank commented on #4
Would be my pleasure! I am not sure whether or not I have the privileges to assign this to myself. At first glance, it looks very nice... thanks @gwaygenomics !

[2016-07-26 20:46] dhimmel commented on #4
Closing as #10 is now merged.

You can see the version of the notebook at time of writing [on nbviewer](http://nbviewer.jupyter.org/github/cognoma/machine-learning/blob/892c6994d0f57c671611781d1b96cbba31ee3c7e/1.TCGA-MLexample.ipynb).

[2016-07-26 20:46] #4 closed

[2016-07-26 23:30] ejsegall opened #11 "Create benchmark data sets"
Go through the data we have
Select a diverse range of possible formulations based on the actual data, but designed to be diverse so e.g. a small number of positives in a lot of data, a lot of positives, smaller number of genes, larger number of genes, different gene expression distributions, etc. @dhimmel: please review description

[2016-07-26 23:32] ejsegall opened #12 "Characterize predictive performance of each ML algorithm in our toolbox vs various data sets for a representative set of queries"
Issue #5 describes a table of ML methods. (This is the "toolbox" referred to in the title)
Issue #11 describes creating a set of sample data sets.
This issue is a task that consists of:
- Running each algorithm on each data set and evaluating its predictive quality.
- To the best of your capability, provide a few words explaining the results

Since there are a lot of algorithms and a lot of datase

[2016-07-26 23:43] ejsegall commented on #12
sameertipnis@gmail.com is interested in participating

[2016-07-26 23:52] ejsegall opened #13 "Facilitate application of multiple methods to multiple data sets"
Issue #13 requires application of multiple methods to multiple data sets.
To simplify this process, it would be helpful to set up a reusable workbook or code set that supports plugging in different methods.

@renasoncegent has expressed interest in this task

@dhimmel

[2016-07-26 23:52] RenasonceGent commented on #12
I will work on a plug and play architecture for the algorithms.

[2016-07-26 23:54] ejsegall commented on #12
@RenasonceGent: please see issue #13

[2016-07-27 00:00] ejsegall opened #14 "Characterize runtime performance of each ML algorithm in our toolbox vs data set size for a representative set of queries"
1. Build data sets that span a range of complexity.
   Number of samples X number of features.
2. Run each algorithm in Issue #5 multiple times for each data set on a consistent set of hardware and collect results.

@hhummel

[2016-07-27 00:25] dhimmel commented on #13
@renasoncegent and I will be creating a modular design, inspired by this [example code](http://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html) and will report back with progress.

[2016-07-27 17:27] dhimmel commented on #3
We should probably save the sklearn estimators representing any transformations and the classifier. The sklearn doc [recommends pickle](http://scikit-learn.org/0.17/modules/model_persistence.html) for estimator persistence. [Pickle](https://docs.python.org/3.5/library/pickle.html) is a binary serialization format in Python. @dcgoss, @awm33, and others -- can we store binary files in our database?

[2016-07-28 01:33] dcgoss commented on #3
@dhimmel relevant link: https://wiki.postgresql.org/wiki/BinaryFilesInDB#What_is_the_best_way_to_store_the_files_in_the_Database.3F

[2016-07-28 01:53] dhimmel commented on #3
# Python object serialization to base64 encoded text

@dcgoss cool. I think we the following solution will work:

[code]

FYI `base64_text`, which would be saved the database is `gANdcQAoWAEAAABhcQFYBAAAAGxpc3RxAksCWAYAAABlbmNvZGVxA2Uu`.

[2016-07-28 02:03] awm33 commented on #3
@dhimmel base64 text is usually fine for small sizes. Can also be stored as text in JSON fields. How big are the binaries? Is `gANdcQAoWAEAAABhcQFYBAAAAGxpc3RxAksCWAYAAABlbmNvZGVxA2Uu` a typical example?

[2016-07-28 04:48] ypar commented on #13
Semi-related... I find hdbscan notebooks to be incredibly informative and stylish. In case some of you haven't seen analysis notebooks before, I link an example here.

[hdbscan benchmarking scalability](https://github.com/lmcinnes/hdbscan/blob/master/notebooks/Benchmarking%20scalability%20of%20clustering%20implementations%202D%20v0.7.ipynb)

[2016-07-28 14:01] dhimmel commented on #3
I pickle-->base64-->text converted `best_clf` from the [example notebook](https://github.com/dhimmel/machine-learning/blob/84a3271b8a11763616b62316cc589a40608e1852/1.TCGA-MLexample.ipynb). The resulting string had 219,788 characters. I assume different types of classifiers will have different sizes.

If I add an extra step to compress, so the entire compression becomes:

[code]

Then `base64_text`

[2016-07-28 14:06] awm33 commented on #3
@dhimmel Compressing is a good move. If we think this would go into the tens of megabytes or more, we may want to consider using blob storage such as S3 or GCS. Postgres can handle gigabytes of text, but it's not great for performance.

[2016-07-28 14:59] Suberri opened #19 "Check out this project: TPOT Data Science Assistant"
I am not sure if the TPOT project is applicable or if it would help but it is an interesting spin on ML
http://rhiever.github.io/tpot/

TPOT is a Python tool that automatically creates and optimizes machine
learning pipelines using genetic programming.

[2016-07-28 15:03] awm33 commented on #19
That looks pretty cool. It looks like it sits right on top of scikit-learn. I've played with genetic programming. It's great for algorithm parameter optimization. I've even messed around with using it in symbolic regression.

[2016-07-28 15:18] cgreene commented on #19
I have seen TPOT a number of times over the past year and a half. I think the idea is worthwhile but I continue to have concerns about overfitting. It may be much more severe than a grid search. I think what we may want to do is collect an initial set of queries and then carefully evaluate both for overfitting. It is definitely interesting.

[2016-07-28 15:52] dhimmel commented on #19
I love the idea of TPOT and we should definitely give it a try. We're currently in the experimental stage -- we want to test as many things as possible to get a better understanding of what works for our data. So let's try lots of sklearn-compatible solutions (such as TPOT).

I'm labeling this a task. @Suberri do you want to take it? I'd suggest starting with [this notebook](https://github.com/dhi

[2016-07-28 16:08] dhimmel opened #20 "Preventing overfitting when evaluating many hyperparameters"
In #18 I propose using a grid search to fit the classifier hyperparameters ([notebook](https://github.com/dhimmel/machine-learning/blob/84a3271b8a11763616b62316cc589a40608e1852/1.TCGA-MLexample.ipynb)). We end up with average performance across cross-validation folds for many hyperparameter combinations. Here's the performance visualization from the notebook:

![cross-validated performance grid](h

[2016-07-28 20:53] dhimmel opened #21 "What covariates should we include as features?"
In addition to gene expression, we probably should include other information on samples. This discussion will focus on identifying potential covariates and evaluating whether they make sense to include in models. If we don't include the right covariates, confounding is likely to be an issue.

See #8 as a potential example of confounding that may be addressable by adding a mutation load feature.

[2016-07-29 16:44] gwaybio commented on #8
on a call now and this issue was mentioned. Really, the issue is mainly that these hyper-mutated tumors have a ton of passenger mutations and would contaminate gold standards. The solution proposed involved subsetting mutations using [Cancer Hotspots](http://cancerhotspots.org/#/home) as defined by [Chang _et al._](http://www.ncbi.nlm.nih.gov/pubmed/26619011)

Essentially what the group is doing i

[2016-07-29 20:42] gwaybio commented on #20
The [sklearn documentation](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html) isn't great for describing how they define optimal parameters...they also seem to muddle usage of training/testing/holdout! See discussion about this [here](https://github.com/cognoma/machine-learning/pull/18).

For this type of data, i think the best way to define optimal is based o

[2016-08-01 14:45] dhimmel commented on #20
I guess we should just see whether overfitting becomes an issue from the max-cross-validated performance criterion. I'm worried that it will, especially if we want to evaluate a large number of hyperparameter settings. The example figure above required 63 combinations. So the cruel reality of max grid search is that the more extensively you evaluate the possibilities, the more overfitting you will

[2016-08-01 14:58] dhimmel commented on #8
What do you mean by true positives and false negatives?

From [Chang et al.](https://doi.org/10.1038/nbt.3391):

So if we were to only count mutations that were in recurrently mutated residues (cancer hotspots), we would only be able to offer our users a choice between 275 genes — not good? Additionally, I'm not sure I see:
1. that restricting to hotspots will be able to fully eliminate mutation l

[2016-08-01 15:11] dhimmel opened #22 "Median absolute deviation feature selection"
@gwaygenomics presented evidence that median absolute deviation ([MAD](https://en.wikipedia.org/wiki/Median_absolute_deviation)) feature selection (by selecting genes with the highest MADs) can eliminate most features without hurting performance: https://github.com/cognoma/machine-learning/pull/18#issuecomment-236265506. In fact, it appears that performance increased with the feature selection, wh

[2016-08-01 16:01] dhimmel opened #23 "Should testing data be used for unsupervised feature tranformation or selection"
Imagine splitting the data as follows, where X is the complete feature matrix and y is the outcome array ([`train_test_split` doc](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.train_test_split.html)):

[code]

The goal of this discussion is to evaluate whether we should apply any operations on `X` (the union of `X_train` and `X_test`). @htcai cautioned against feature

[2016-08-01 17:07] yl565 opened #24 "Using incremental(on-line) learning to reduce memory cost"
Since there might be many people using the website simultaneously, it would be good to adopt incremental(on-line) learning algorithms as much as possible to train classifier. In incremental(on-line) learning, classifiers are not trained using the whole dataset, the samples are feed into the learning algorithm one-by-one (or by small batches). Here is the reference:
http://scikit-learn.org/stable/m

[2016-08-01 17:17] dhimmel commented on #24
I didn't know sklearn had a standardized `partial_fit` method for online learning. Really cool.

However, I don't think we will run out of memory (and should restrict ourselves to only algorithms that support `partial_fit`). The task queue can always manage how many concurrent jobs are running to avoid memory overflow. And I believe we can easily spin up new virtual instances to meet our needs in

[2016-08-01 17:17] #24 closed

[2016-08-01 17:41] gwaybio commented on #8
True positives meaning samples that actually have a deleterious mutation in the given gene (either an activating or inactivating mutation) that leads to a gene expression based signature representative of the normal gene activity being lost. False negatives meaning samples that actually _do_ have the irregular gene expression signature but are incorrectly considered a "0" or "not mutated". Either

[2016-08-01 18:47] htcai commented on #23
[k-fold cross-validation](https://en.wikipedia.org/wiki/Cross-validation_%28statistics%29#k-fold_cross-validation) might be useful for undermining/eliminating biased estimate of the model's performance. This method is also available in [sklearn](http://scikit-learn.org/stable/modules/cross_validation.html#k-fold). I'm not sure whether this has already been taken into account. Just in case.

[2016-08-01 18:52] dhimmel commented on #23
@htcai my pull request #18 uses [`GridSearchCV`](http://scikit-learn.org/stable/modules/generated/sklearn.grid_search.GridSearchCV.html), which performs cross validation behind the scenes. For your reference, the cross validation occurs inside `X_train` as defined in the [comment above](#issue-168681667).

[2016-08-07 14:17] dhimmel commented on #22
In 34225ccdefa191287ca153fc14c73bb4eaa6706d -- an example for classifying TP53 mutation -- we did not apply MAD feature selection ([notebook](https://github.com/cognoma/machine-learning/blob/34225ccdefa191287ca153fc14c73bb4eaa6706d/1.TCGA-MLexample.ipynb)). In a8ae61147897aed4a3883853563b357644cbc5f3 (pull request #25), @yl565 selected the top 500 MAD genes ([notebook](https://github.com/cognoma/m

[2016-08-07 18:22] dhimmel commented on #2
Closing this issue to clean things up. But if there is discussion, we'll reopen it.

[2016-08-07 18:22] #2 closed

[2016-08-07 18:34] dhimmel opened #27 "Claim an sklearn algorithm to implement and troubleshoot"
In the August 26 meetup, we discussed having each team member in the machine learning group claim an algorithm. We've made lot's of progress on the example notebook (`1.TCGA-MLexample.ipynb`) since then (see #18 & #25). Currently, [`1.TCGA-MLexample.ipynb`](https://github.com/cognoma/machine-learning/blob/5eadf0309a409b08fc17d81b36b9c4bcd7acb916/1.TCGA-MLexample.ipynb) uses elastic net logistic re

[2016-08-07 18:37] dhimmel commented on #13
Closing this issue.

See #27 to claim and implement an sklearn algorithm of your choosing.

[2016-08-07 18:37] #13 closed

[2016-08-07 18:42] dhimmel commented on #27
Tagging everyone who said they were interested in contributing to the machine learning part of the project in the [introduction thread](https://github.com/cognoma/cognoma/issues/2): @htcai, @loucru1 @bmcgeehan @umeshiso @swbiggs4 @danrieman @rramyr @Inquisitive-Geek @brankaj @yl565 @Ramaa-Nathan @ejsegall  @FadiAlnabolsi @sameertipnis @VijYadav @ctipnis.

Update: also tagging @yigalron.

[2016-08-07 21:25] htcai commented on #27
Thanks for the sample notebook! I would like to implement **Linear SVM with regularization**.

[2016-08-07 22:37] yl565 commented on #22
Since a pipeline has been used, only X_train is used for feature selection and standardization. This would decrease AUROC but I think it reflects the reality better because we want to use the classifier to predict if the gene will mutate for a patient so the X_test in reality is only 1 sample. Using the entire dataset X for feature selection and standardization will cause overfitting. This figure

[2016-08-08 02:10] dhimmel commented on #22
@yl565 really informative analysis. Can you share the source code? Checkout GitHub gists if you want a quick way to host a single notebook. Also I'd love to see the graph extended to all ~20,000 genes.

I'm having some trouble comprehending why performance drops off when you feature select and scale on `X_train` only. I wouldn't think our unsupervised selection and scaling would cause overfitting

[2016-08-08 02:13] dhimmel commented on #27
@htcai awesome. Can you specify which sklearn function(s) you plan to use for the model?

[2016-08-08 03:10] brankaj commented on #27
Thanks for setting this up. I would like to try **LASSO**, implementation sklearn.linear_model.LassoCV.

[2016-08-08 13:29] htcai commented on #27
I consulted the [chart](https://github.com/cognoma/machine-learning/issues/5#issuecomment-234596748) posted by @yl565 . I plan to try sklearn.svm.LinearSVC.

[2016-08-08 13:45] yigalron commented on #27
I plan to implement the Nearest Neighbors Classification

[2016-08-08 13:53] dhimmel commented on #27
@yigalron did you want to claim [`KNeighborsClassifier`](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html), [`RadiusNeighborsClassifier`](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.RadiusNeighborsClassifier.html), or both?

[2016-08-08 14:00] yigalron commented on #27
I'm planning to start with the KNeighborsClassifier

[2016-08-08 14:08] VijYadav commented on #27
I plan to test Decision Tree CART (sklearn.tree.DecisionTreeClassifier) algorithm

[2016-08-08 14:30] VijYadav commented on #27
Hi Daniel,
 Is there "algorithms" directory created already? I I can't see it. Sorry, I am still learning about Github.

[2016-08-08 14:49] dhimmel commented on #27
@VijYadav, you'll have to create the directory, since it currently doesn't exist. I'll submit a pull request as an example.

[2016-08-08 15:00] yigalron commented on #27
when trying to set up the conda environment on windows (conda env create --quiet --force --file environment.yml) I get an error:

yaml.scanner.ScannerError: mapping values are not allowed here
  in "<string>", line 7, column 19:
      <head prefix="og: http://ogp.me/ns# fb: http://o ...
                                 ^

any ideas what I did wrong?

[2016-08-08 15:13] dhimmel commented on #27
@yigalron can you file a new issue or comment on #15 with the conda installation issue? It's best to keep issues focused and uncluttered.

[2016-08-08 15:22] yigalron commented on #27
OK; anyway it seems to have been a user error; I'm trying again

[2016-08-08 16:50] yl565 commented on #22
Because there are differences in distribution between training and testing set. This figure shows the genes with the most difference between training and testing data. I guess 7000 samples are not enough to represent the gene variation of the population
![image](https://cloud.githubusercontent.com/assets/15843826/17484931/173255a8-5d5a-11e6-81fe-3e83f035f2fe.png)

Here are the codes:
https://gist.

[2016-08-09 23:05] beelze-b commented on #27
Hi all, I will claim AdaBoost.

[2016-08-11 17:44] maxdml opened #31 "ML module API"
Hello,

In an effort to build the global cognoma architecture, it would be very useful to determine an API which defines exactly what is given to the ML module (and incidentally what it will return).

As an exemple of strong API documentation, I believe [OpenStack](http://developer.openstack.org/api-ref.html) is a good start. Note how every module's API is listed, and how for each of those modules

[2016-08-11 18:55] awm33 commented on #31
What is the ML module? I don't think the machine learning code will provide any APIs, it will be consuming them. From what it sounds like, the backend group will need to figure out what the input to some function like `run` will be. I think we need to write something that will feed off the task queue and run a function, perhaps loading a class/module specific to an algorithm.

I think the input to

[2016-08-11 19:34] maxdml commented on #31
The ML module is any library used to implement machine learning algorithm. Actually, if I am not mistaken, this library is [pandas](http://pandas.pydata.org/) (please confirm/correct :).

It will receive request from the Asynchronous Task Queue, as you mentioned. However from the (outdated) [schema](https://github.com/cognoma/cognoma#implementation-details) in the meta cognoma repository, and in t

[2016-08-12 19:06] cgreene commented on #31
@maxdml : I think the machine learning group is primarily using sklearn, though others may use something else. I think that we should define what gets provided to these methods, and each one should get passed the same information. Maybe some of the implementers can let us know what type of information they use. We should also define what we want the algorithm to report at the conclusion of the run

[2016-08-12 19:28] awm33 commented on #31
I think this is more of, what is the schema of the input/output?

If the input is a classifier object, then the only thing not defined yet is the `algorithm_parameters`. The parameters will vary from algorithm to algorithm. On the algorithm object, I put a `parameters` field to store the parameter schema for algorithm as [JSON schema](http://json-schema.org/). JSON schema allows us to validate the

[2016-08-12 20:24] maxdml commented on #31
Right, it is a question of "what is the schema of the input/output". The reason why I am mentioning an API is that, from my understanding, we are trying to setup a modular infrastructure where the machine learning code is decoupled from the django backend, and the link between them is the ATQ.

[2016-08-12 20:34] awm33 commented on #31
Ah ok. So that is a good questions. I think we'll need some sort of client daemon to run the machine learning code in. The client will need to pull classifier tasks off the queue via RESTful HTTP calls to the task-service.

I don't know what the handoff code will look like. Right now, these are all scripts. We could keep them as scripts, the client could pipe in the JSON classifier and expect JSON

[2016-08-12 22:07] maxdml commented on #31
Right, I think the public functions should be consistent across all ML modules. Once we are fixed on a first API proposal, I would like to implement a simple containers setup which would look like the following:
- 1 container for the django backend
- 1 container for the JS frontend
- 1 container for the ATQ (I can mock the request which are filling that queue)
- 1 container for machine learning co

[2016-08-13 19:38] awm33 commented on #31
@maxdml Sure. I don't know if the daemon code will live in this repo or another. I think it could be in another repo or be a directory within this one. From a deployment standpoint the daemon will probably be a python script running inside of some sort of process manager like [pm2](https://github.com/Unitech/pm2). We could do something like make a job JSON blob or file path an optional argument to

[2016-08-15 21:02] cgreene commented on #31
Quick question while we're on the topic - does it make sense to use something like Celery for this? It does integrate with django and then we could require each method to provide a task definition with standard parameters & behavior expectations.

http://www.celeryproject.org/

[2016-08-15 22:29] awm33 commented on #31
@cgreene It might, but that would mean an architectural change. I would have to stop working on the task service and we may need to collapse all the backend code to a single repo.

I do I like the idea of storing the parameters in a portable data structure like JSON schema more. Then we would be able to:
- Validate the algorithm parameters in JS and server-side in the REST API call
- [Generate inp

[2016-08-15 22:33] cgreene commented on #31
Gotcha - as long as we have considered it and had use cases that it doesn't
solve. :)

On Mon, Aug 15, 2016, 6:29 PM Andrew Madonna notifications@github.com
wrote:

[2016-08-15 22:48] awm33 commented on #31
Ok. I'm proposing this.

Each algorithm would need a module that exposes:
- `definition`  - a dictionary defining the algorithm with name, title, description, and parameters  schema.
- `run` - a function that takes a task instance. This will contain the classifier input data. We could also pass the classifier object and/or algorithm parameters separately if that makes it easier.

I'd also like the

[2016-08-16 17:51] dhimmel commented on #31
@awm33, Currently, the notebooks we're creating are solely for prototyping (although we may actually want to provide users their custom notebook). The scripts exported from the notebooks are solely for tracking, not for execution.

## Thoughts on the machine learning archetecture

The machine learning team will write a Python module with a `run` function. The `run` function will have a parameter f

[2016-08-16 18:46] RenasonceGent commented on #31
I was waiting on more examples to be completed before moving on. I added a gist [here](https://gist.github.com/RenasonceGent/3eae01969b6067e744dc33e49b790943) with the code I have so far. I broke up the example script into functions. It should make it easier to change things later. I can see having a default set of hyperparameters to start, but isn't that something that we should make optional for

[2016-08-16 20:17] maxdml commented on #31
@dhimmel I am a bit of a layperson when it comes to the actual meaning of the ML computations. Do you know where I can learn more about the "outcome array of mutation status"?

The reason I want to understand this is that I am concerned about business layer related computation being implemented in the frontend. If some outcome of the ML algorithm has to be further refined before being delivered to

[2016-08-16 20:26] dhimmel commented on #31
@maxdml, All this means is whether a sample is mutated (`0` coded) or normal (`1` coded) for a user-specified gene (or set of genes). The goal of the machine learning model is to learn how to classify samples as either mutated or not-mutated. Outcome is maybe a confusing term here -- it refers to what the model is trying to predict and must be available before the model can be trained.

Just so we

[2016-08-16 22:38] awm33 commented on #31
@dhimmel

Is that because of a limitation of the frontend/backend, or that just doesn't seem necessary for the user?

Looking at the classifer object in https://github.com/cognoma/django-cognoma/blob/master/doc/api.md.
- If we aren't going to be passing any algorithm parameters, we can drop those from the schema.
- Looks like `genes` maps to `expression_subset`. Is `expression_subset` a better nam

[2016-08-17 14:16] dhimmel commented on #31
Choosing hyperparameter values is a great hindrance. If the machine learning team does our job, we can hopefully not subject the user to this nuisance. In the future if some users want direct access to setting hyperparameters, perhaps we can expand functionality.

Regarding [the schema](https://github.com/cognoma/django-cognoma/blob/master/doc/api.md), which I hadn't actually seen yet (nice work)

[2016-08-17 18:58] awm33 commented on #31
@dhimmel Cool.
- Tissues - I think I'd like to keep it as `tissues` on the classifier model, since will want to store that as the user selection. It sounds like the sample id list is based on something like `select sample_id from samples where tissue in (tissues)`. That could be done during task queueing, inside the job outside the ml.run, or inside the ml.run function. Perhaps using some shared f

[2016-08-17 22:23] dhimmel commented on #31
Sounds good. In the future however users may want to select samples based on other criteria then tissue. We can always change this then.

Don't care, but if we use set, then should we use `tissue_set` as well?

If we don't store the `sample_id` array, we will need to store a formula for how to compute mutation status. Will start a separate issue for this.

[2016-08-17 23:04] awm33 commented on #31
@dhimmel

Ok, It sounded to me like tissues is a filter on the samples. If there are more filter criteria, I think we should still store it for the state of the UI and knowing how the user generated the list.

I think we need more clarification on where `mutation_status` and `samples_ids` are coming from. Maybe that can be in your issue. The model does have mutations which connects genes to sample

[2016-08-18 00:00] awm33 commented on #9
This is being covered by https://github.com/cognoma/machine-learning/issues/31

[2016-08-18 00:00] #9 closed

[2016-08-23 23:04] mans2singh commented on #27
Hey Folks - I will give RandomForestClassifier a shot. Mans

[2016-08-25 02:59] VijYadav commented on #27
As per the instruction, I made copy of TGCA-MLexample.ipny with CART-VijYadav.ipynb. I didn't make any change to the code ( I just wanted to see if the existing code works) and finding the following memory error. I am running Windows 10 with 32 GB RAM. Can you please let me know how to fix the issue.

%%time
path = os.path.join('data', 'expression.tsv.bz2')
X = pd.read_table(path, index_col=0)
---

[2016-08-25 03:58] dhimmel commented on #27
@VijYadav can you [post a new issue](https://github.com/cognoma/machine-learning/issues/new) with your above comment? We'll want to keep this discussion focused on claiming algorithms.

Note that I edited your comment to put the code/error into a [code block](https://help.github.com/articles/creating-and-highlighting-code-blocks/), so it doesn't attempt to apply markdown formatting to plain text.

[2016-08-25 04:06] VijYadav opened #38 "Memory error"
As [per the instruction](https://github.com/cognoma/machine-learning/issues/27#issue-169809444), I made copy of TGCA-MLexample.ipny with CART-VijYadav.ipynb. I didn't make any change to the code ( I just wanted to see if the existing code works) and finding the following memory error. I am running Windows 10 with 32 GB RAM. Can you please let me know how to fix the issue.
[code]

[2016-08-25 04:25] dhimmel commented on #38
Can you provide the output of the following commands:

[code]

[2016-08-25 06:19] VijYadav commented on #38
[code]

[2016-08-25 10:59] yl565 commented on #38
I think you may have installed 32bit version of anaconda. Switch to 64bit instead or switch to a 64bit python

[2016-08-26 00:09] VijYadav commented on #38
yl565 - you were right. I switched to 64 bit and also went lower on Python from 3.5 to 27. It works now. Closing the issue

[2016-08-26 00:09] #38 closed

[2016-08-26 14:53] yl565 commented on #38
The environment we agreed on is Python 3.5 so it's better you stick to it. You could install 64bit/Python 3.5 version of the anaconda.

[2016-08-26 15:22] dhimmel commented on #38
For other people who run into this issue: the suggested solution is using a 64 bit python. Downgrading to Python 2.7 _is not part_ of the suggested workaround.

@VijYadav, not sure if you are saying you installed anaconda for python 2.7. If so, you should still be able to create the `cognoma-machine-learning` environment, which will contain python 3.5. Note that if you are not using the project en

[2016-08-26 15:42] VijYadav commented on #38
After I tested with 2.7, I realized that it was not the agreed version and it may have potential compatibility issue down the line.  I will  reload Python 3.5 and test. Hopefully, it should work 64 bit version.

[2016-08-27 21:11] yigalron commented on #27
I have an initial version of the K-Nearest neighbor algorithm, and I issued a pull request; not sure if it got into the master.
I won't be able to join the next meeting, but will continue to work on this remotely.

[2016-09-07 00:14] htcai opened #43 "Integrating dimensionality reduction into the pipeline"
It will benefit all of us if the operations of dimensionality reduction can be integrated into the pipeline.

Moreover, it seems necessary to place dimensionality reduction after preliminary feature selection (keeping 5000?); otherwise, our computers are likely to run out of memory.

[2016-09-07 14:32] dhimmel commented on #43
Thanks for posting this issue @htcai.

To recap for those who weren't at the meetup last night: we have an expression matrix with 7,306 samples (rows) × 20,530 genes (columns). We want to reduce the dimensionality of the genes, using a technique such as PCA. However, we were running into memory issues when using the [algorithms in `sklearn`](http://scikit-learn.org/stable/modules/decomposition.htm

[2016-09-07 14:47] yl565 commented on #43
Which class has been tried? [RandomizedPCA](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.RandomizedPCA.html) should cost less memory than PCA

[2016-09-07 15:08] dhimmel commented on #43
@yl565, I don't remember anyone trying `sklearn.decomposition.RandomizedPCA`, which looks like it's designed to solve this problem. For reference, sklearn cites the following two studies: [Halko et al 2011](https://doi.org/10.1137/090771806) and [Martinsson et al 2011](https://doi.org/10.1016/j.acha.2010.02.003).

So I guess we should compare the performance of classifier pipelines which use:
1. a

[2016-09-07 15:12] dhimmel commented on #43
Also tagging @NabeelSarwar.

[2016-09-07 17:00] htcai commented on #43
@dhimmel @yl565 Thank you for the references and discussions! Should everyone claim an algorithm of dimensionality reduction (including a choice between 1 vs. 2)?

[2016-09-07 17:16] dhimmel commented on #43
Great idea! Let people know which one you choose below. So we're all on the same page, make sure you're using the latest data retrieved by `1.download.ipynb`. I recommend starting with `algorithms/SGDClassifier-master.ipynb`.

It may also be nice to print out max memory usage at the end of the script (not sure if this will work on all OSes):

[code]

[2016-09-07 17:17] beelze-b commented on #43
I will work on factor analysis.

[2016-09-07 17:24] htcai commented on #43
I would like to try Linear Discriminant Analysis (LDA) after feature selection. I will look for other commands that can report max memory usage if the one above does not work.

Also, maybe we should select a uniform number of features. For instance, we select 5000 and then reduce the dimensionality to 2000 or 500.

[2016-09-07 17:26] beelze-b commented on #43
I suggest 2000 to keep at least 10%. This can be fine tuned by algorithms that report on the information contained within each component. But I think we should err on the side of more features.

[2016-09-07 17:26] yl565 commented on #43
I tried PCA, seems to be running on my computer just fine

[code]

[2016-09-07 17:28] yl565 commented on #43
Peak memory is about 9GB on Ubuntu

[2016-09-07 17:39] dhimmel commented on #43
@yl565 is it important to standardize before performing PCA?

Also [`IncrementalPCA`](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.IncrementalPCA.html#sklearn.decomposition.IncrementalPCA) may also circumvent memory issues.

[2016-09-07 17:41] beelze-b commented on #43
Most of these algorithms will also do whitening and building the covariance matrix for you, or so I thought.

[2016-09-07 18:51] yl565 commented on #43
From `PCA` source code seems it is demeaned but not standardized.  Standardizing may help improve classification performance.

The following figures shows the memory cost of the three algorithms, either RandomizedPCA or IncrementalPCA (I used n_batch=1000) should work fine. All three produces classification test AUROC = 0.93. For reduce memory cost maximumly, IncrementalPCA is better at the cost o

[2016-09-07 19:07] beelze-b commented on #43
I believe we only tried Factor Analysis and LDA. I ran out of memory using Factor inside the pipeline with the randomized solution. This was without selecting some features before hand. I will try to get some updates on the memory usage before the weekend.

[2016-09-08 14:50] dhimmel commented on #43
@yl565 really cool analysis. Can you link to the source code? If you just need a quick place to upload a file, you can check out GitHub Gists.

So here is my interpretation of your plot. It looks like loading the data peaks at ~4.5 GB of memory and stabilizes around 4 GB -- hence 32 bit systems [run into a memory error](https://github.com/cognoma/machine-learning/issues/38). `PCA` appears to requi

[2016-09-12 15:17] dhimmel commented on #21
@stephenshank began work at the last meetup on creating a `covariates.tsv` from `samples.tsv`. @stephenshank any updates?

[2016-09-12 22:06] dhimmel commented on #31
# Minimum Viable Product Specification

For the minimum viable product (i.e. the first release of the machine-learning package), I'm thinking we can have a simplified input to machine-learning (ML). The main ML function would consume a JSON file with a `mutation_status` and `sample_id` array. Do people prefer `mutation_status` or `mutation_statuses` / `sample_id` or `sample_ids`? Also we could enc

[2016-09-12 22:32] dhimmel commented on #19
Closing this issue as part of a routine cleaning. If anyone has an interest in pursuing TPOT for Cognoma, leave a comment and we can reopen this issue.

[2016-09-12 22:32] #19 closed

[2016-09-12 22:34] dhimmel commented on #1
Closing this issue as part of a routine cleaning. People can still use this issue as a reference and keep discuss below. However, I don't think there are any unresolved action items related to this issue.

[2016-09-12 22:34] #1 closed

[2016-09-12 22:38] dhimmel commented on #5
I think we now have a good handle on what's available. Closing this issue, but feel free to continue discussion.

[2016-09-12 22:38] #5 closed

[2016-09-12 23:53] dhimmel opened #44 "Decisions required to reach a minimum viable product"
We're nearing the point where we'll need to implement a machine learning module to execute user queries. We're looking to create a minimum viable product. We can expand functionality later, but for now let's focus on the simplest and most succinct implementation. There are several decisions to make:

1.  **Classifier**: which classifiers should we support? If we want to support only a single class

[2016-09-14 19:06] dhimmel commented on #44
Here are my thoughts:
1.  **Classifier**: `sklearn.linear_model.SGDClassifier` with a grid search to find the optimal `l1_ratio` and `alpha`. See [`2.TCGA-MLexample.ipynb`](https://github.com/cognoma/machine-learning/blob/99bff9268c20a3142f8b46d2a923b2cadf254e12/2.TCGA-MLexample.ipynb) for an example.
2. **Predictions**: let's return all three using the following object names `probability`, `score

[2016-09-14 19:26] gwaybio commented on #44
Can you clarify what you mean by number 3?

Like AUROC?

[2016-09-14 19:30] mans2singh commented on #43
@yl565 - Are you working with PCA or IncrementalPCA ? I started on PCA but if you are working on it, I can try IncrementalPCA.

[2016-09-14 19:32] dhimmel commented on #44
By "span thresholds" I'm referring to any measure computed from predicted probabilities/scores, such as AUROC or AUPRC. By "single classification threshold", I'm referring to any measure computed from predicted classes, such as precision, recall, accuracy, or F1 score.

[2016-09-14 19:32] gwaybio commented on #44
got it. Then yes, this all looks good to me

[2016-09-14 23:36] yl565 commented on #43
@dhimmel the source code: https://gist.github.com/yl565/caf34bce62cb0fb4fa0c1a26a298e1d6
Use memory_profiler to run the code from command line:
mprof run test_PCA_peak_memory.py
mprof plot

@mans2singh I'm not currently working on either. They should produce same (or very close) results. You could try using PCA first and if run out of memory try  IncrementalPCA instead

[2016-09-14 23:45] yl565 commented on #44
+1

[2016-09-15 13:45] stephenshank commented on #21
My first attempt at this can be found at #46, where I simply try to process the samples data to begin using these as features. Immediate issues are...
1. Are we comfortable with the way categorical NaN's are handled?
2. How do we want to treat numeric NaN's? The current pipeline breaks when data contains NaN's.
3. Standardizing column names... perhaps all as lowercase/underscore, which seems to be

[2016-09-15 15:39] dhimmel commented on #21
As per my review comment on #46: yes, although imputation is definitely an option here.

I know of 3 options: impute, filter observations, or remove variable. Since we don't want to start hemorrhaging samples, I don't think we should filter many observations. So maybe we can assess imputation/removal on a per-variable basis. i.e. will it impute, if so impute and keep, else remove.

Personally, I m

[2016-09-16 01:11] stephenshank commented on #21
I'm tempted to do this, just because I consider this part of clean data for developers. It can get frustrating trying to autocomplete variables that you know are there, only to remember that THOSE variables are upper case.

I hope to have some progress on imputing the numeric variables for the next PR. The only strategies I know for this are either 1) filling in the most common values among simila

[2016-09-16 13:13] stephenshank commented on #21
@dhimmel I made the proposed changes and started to do some exploratory visualization for imputation, which I've pushed for review. Also note that the notebook and the script are in two separate commits, since I forgot to convert before I pushed :grimacing:. Please let me know if there are any more revisions, I am happy to continue working on this.

Also, any suggestions for how to carry out the i

[2016-09-16 14:21] dhimmel commented on #21
@stephenshank, let's keep discussion related to PR #46 on the actual pull request. I didn't see your latest two comments until after my most recent review ):

Let's start a new issue for covariate imputation and deal with it in a future pull request.

[2016-09-18 18:42] htcai commented on #44
Sounds good!

[2016-09-21 00:58] awm33 commented on #31
@dhimmel Looking at the your original example from above

[code]

Is this data related/tabular? So the above could be written as:

[code]

or

[code]

I'm just assuming since a sample is mutated for a specific gene, that's what we are trying to pass, a row per sample.

[2016-09-21 14:22] dhimmel commented on #31
`sample_id` and `mutation_status` are two columns of a single table. `expression_subset` is of a different nature (and will not be included in the MVP implementation). Therefore, we could use any method for representing the sample/observation table (containing `sample_id` and `mutation_status` and possible more columns in the future). Let me know what you think is best.

[2016-09-27 13:58] dhimmel commented on #8
Reproducing [a comment](https://github.com/cognoma/machine-learning/pull/51#discussion_r80557431) by @gwaygenomics here:

I did the Elemento Lab's [GitHub organization](https://github.com/ElementoLab) but I couldn't find the handle for the doctor himself. However, I did find his [Twitter](https://twitter.com/ElementoLab), so I'll tweet him the link to this question:

**Q:** We're creating models t

[2016-09-30 03:23] awm33 commented on #31
Looking at https://github.com/cognoma/machine-learning/pull/51

Would it make sense to have the worker/ task runner code in this repo or in a separate one?

I was thinking of exposing it as a cli like

`python ./task-runner.py run-task ./some/path/task.json` for local machine testing/development

`python ./task-runner.py worker` which would start a worker and be run as a daemon in prod

The worker

[2016-10-02 13:51] dhimmel commented on #31
My preference is a separate repo. This repo already contains multiple things. Also I think people may be interested in using the `cognoml` package without the task runner.

The task runner environment can install the `cognoml` package using `pip install`, either from specific commits on GitHub or if we upload `cognoml` to PyPI.

[2016-10-04 03:36] awm33 commented on #31
@dhimmel That sounds good, do you want to create the repo? Trying to think of a good name, maybe "task-workers" or "ml-workers" in case we have other background tasks.

[2016-10-04 04:15] dhimmel commented on #31
@awm33, you pick the name and I'll create. I like both the suggestions. How will this repo be different than [task-service](https://github.com/cognoma/task-service)?

[2016-10-05 00:02] George-Zipperlen commented on #27
I would like to claim **spectral clustering**, and give it a try

[2016-10-06 02:17] awm33 commented on #31
@dhimmel `ml-workers` works then. The repo will house code consuming that service and the core API, but is not part of the service itself. It's the "Machine Learning Worker(s)" in the [architecture diagram](https://github.com/cognoma/cognoma/blob/master/architecture.svg).

[2016-10-06 14:17] dhimmel commented on #31
@awm33 I created `ml-workers` -- see https://github.com/cognoma/ml-workers. You're the maintainer.

[2016-10-06 18:17] brankaj opened #55 "Literature review"
There are several research papers and webpages that can be helpful to the cognoma task. Maybe I missed it, but I am not aware of any other issue that addresses this question.  It would be good to have a place where members can post papers that could benefit the community. Since not everyone has the academic access to databases, it is preferable that papers posted are open-access.

I recently found

[2016-10-06 19:16] dhimmel commented on #55
Nice. Let's also include DOI links when available. For Dudoit et al, the link is https://doi.org/10.1198/016214502753479248. DOIs provide persistent identifiers and make metadata lookup much easier.

[2016-10-07 00:45] awm33 commented on #31
@dhimmel Thanks! 🌮

[2016-10-07 03:04] dhimmel commented on #55
Just came across [DoCM: a database of curated mutations in cancer](https://doi.org/10.1038/nmeth.4000):

[2016-10-07 03:24] brankaj commented on #55
Can you please check the first link? It seems it is not working.

[2016-10-11 14:11] dhimmel opened #56 "Selecting the elastic net mixing parameter"
Thus far we've been using grid search (cross validation) to select the optimal elastic net mixing parameter. For `SGDClassifier`, this mixing parameter is set using `l1_ratio`, where `l1_ratio = 0` performs ridge regularization and `l1_ratio = 1` performs lasso regularization.

Here's what I'm thinking:

Grid search is not the appropriate way to select the mixing parameter. Ridge (with the optimal

[2016-10-11 14:16] dhimmel commented on #56
Also, I'd rather spend more time optimizing `alpha` (regularization strength). [glmnet in R](https://web.stanford.edu/~hastie/glmnet/glmnet_alpha.html) defaults to trying a sequence of 100 different regularization strengths.

[2016-10-11 16:47] cgreene commented on #56
Agree with @dhimmel about ridge/lasso trade-offs. We could ask the user how much they value sparsity vs performance if we can figure out a way that's not too confusing.

[2016-10-12 02:01] awm33 opened #57 "Fix cognoml package"
Trying to run the cognoml package, I found a couple issues.

- The requirements are not in setup.py, so a consumer has to manually install them. I manually installed them by looking at the repo's environment.yml file. The following were needed before the next issue was raised.
    - pandas==0.18.1
    - numpy==1.11.1
    - scikit-learn==0.18.0
    - scipy==0.17.1

    Take a look at [https://packa

[2016-10-12 02:02] awm33 commented on #57
@dhimmel FYI

[2016-10-12 02:05] awm33 opened #58 "cognoml tests"
cognoml should really have tests. At the very least the "public" functions. The complex operations could be mocked.

[2016-10-13 20:37] brankaj opened #59 "Defining features and labels"
This issue is a follow-up of the results obtained for different genes #52 . It is still not clear why few oncogenes produced such bad results. Before analyzing genes themselves, I got puzzled by one thing in the code.

If we want to run the classifier for a different gene, the only part that is currently changed is **y**, i.e., vector of labels y=Y[GENE]. Matrix **X**, which contains our feature v

[2016-10-14 17:04] dhimmel commented on #58
@awm33, I agree and will work on this.

In the past, I've found [pytest](http://doc.pytest.org/en/latest/) to be the most pythonic and user-friendly testing library. Anyone agree or disagree?

[2016-10-14 17:12] dhimmel commented on #57
@awm33 currently we only support installation into the conda environment specified in `environment.yml`. You may be able to get conda as simply as `pip install conda`. Note that conda may supersede your default Python path, but this can be undone.

I will look into also supporting installation via pip when requirements are not yet installed.

Regarding `ImportError: No module named 'cognoml.classi

[2016-10-14 19:43] dhimmel commented on #59
I'm happy to see mediocre results for modeling some mutations. With gene expression, universally positive results are usually a good indication that you're overlooking something. @gwaygenomics or @cgreene would know better, but here's why it may be totally acceptable that a mutation doesn't have an expression signature:
- the gene doesn't do much so whether it's mutated or not doesn't affect cellu

[2016-10-17 01:19] brankaj commented on #59
Thank you for your comments. I had misconceptions regarding the use of matrix **X**. Regarding the sequencing replicates, if I understood well, this would correspond to the multi-label thing that I mentioned earlier. Unfortunately, I am not aware of many papers that deal with this issue. The common approach is the majority voting technique.

[2016-10-17 16:56] dhimmel commented on #59
According to [sklearn's docs](http://scikit-learn.org/0.18/modules/multiclass.html):

I'm not sure how multilabel classification would fit in with sequencing replicates. I was thinking that the replicates would be most useful as a way of examining the reliability of the sequencing. Do two independent sequencing runs of the same sample yield the same mutations?

To keep things simple, we probably d

[2016-10-17 17:00] cgreene commented on #59
Agree as a future interest. Transfer learning approaches should be very well suited here (and transferability is also interesting scientifically). Not sure how much we want to dig in at this time.

[2016-10-17 18:56] gwaybio commented on #59
They are state of the art exome mutation calls. Right now, 6 mutations caller algorithms are applied to the data and variants are removed if they are only called once.

[2016-10-17 18:58] gwaybio commented on #56
Agreed!

[2016-10-18 23:57] Zedmor commented on #55
Paper on mult-label machine learning algorithms: http://cse.seu.edu.cn/people/zhangml/files/TKDE'13.pdf

[2016-10-19 00:08] Zedmor commented on #55
http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.466.1304&rep=rep1&type=pdf another paper on multi-target classification

[2016-10-19 00:12] Zedmor commented on #55
some code on multi-label classification: https://github.com/davidwarshaw/hmc

[2016-10-19 00:17] brankaj commented on #55
https://arxiv.org/ftp/arxiv/papers/1609/1609.00843.pdf

[2016-10-19 00:31] brankaj commented on #55
https://arxiv.org/ftp/arxiv/papers/1609/1609.00843.pdf

[2016-10-19 22:14] jessept commented on #57
@dhimmel @awm33 I just did a fresh install 5 minutes ago and was able to replicate the issue w the imports.

The issue is more about providing support for pip v conda and how the virtualenv implementations can differ. There is a note at the bottom of the readme here: https://github.com/cognoma/machine-learning

You need to download, then navigate to the project's root directory and do the pip inst

[2016-10-19 22:23] jessept opened #61 "Add stronger support for pip"
cognoma runs into a specific import issue when installing directly from github:

[code]

This does not appear when installing in conda, but makes installing with pip more time-consuming. This would require some exploration into the files necessary to be able to pip install directly from github.

[2016-10-19 22:24] jessept commented on #57
@awm33 @dhimmel I can't close issues, I'll leave this up to you Dan.

[2016-10-19 22:27] awm33 commented on #57
I think you should be able to run pip install and not need to run subsequent command or have a specific environment handler setup. That seems to defeat the purpose of exposing it via setup.py and doesn't seem like real pip support. The environment file in this repo also has requirements which are not used by the module.

Running anaconda on the servers seems like a mess. I'm going to manage the re

[2016-10-19 23:00] dhimmel commented on #61
@jessept can you post the pip command you used?

Also I edited your post to put the error message in a code block using triple backticks.

[2016-10-19 23:18] dhimmel commented on #57
@awm33, I'll work on making it pip installable in a standard python environment. Will specify `install_requires` in `setup.py`. Should also help with https://github.com/cognoma/machine-learning/issues/61

As a technicality, we're running conda not anaconda. conda is the package manager, while anaconda is a bundle of scientific computing packages for installation via conda.

If we create a docker w

[2016-10-19 23:44] awm33 commented on #57
@dhimmel It would be great to have pip install working with the minimal requirements needed for the module.

It looks like you have to use anaconda or miniconda to use conda?

Here's an interesting [article](https://www.continuum.io/blog/developer-blog/anaconda-and-docker-better-together-reproducible-data-science) on using anaconda/miniconda/conda for data science along with some containers.

It l

[2016-10-20 16:07] jessept commented on #61
@dhimmel Pip command used:
`pip install git+git://github.com/cognoma/machine-learning`

[2016-10-23 21:27] dhimmel opened #64 "Should cognoml reside in a separate repo?"
cognoml is the Python package we're developing for machine-learning

I'm starting to think this would simplify things.

@awm33 what do you think?

[2016-10-23 22:07] awm33 commented on #64
It might. So this repo would be the "playground", while cognoml is "production ready" and can be consumed by applications?

[2016-10-23 22:50] dhimmel commented on #64
Yeah, `machine-learning` will be a data analysis repository (tracks notebooks, figures, datasets). `cognoml` will be a python package repository. This will avoid confusion where it's not clear whether a file is needed for the package or for the exploratory analyses.

[2016-10-23 22:56] awm33 commented on #64
That makes sense

[2016-10-24 20:29] dhimmel commented on #64
Okay, I'll create a `cognoml` repo once #62 is merged.

From [this StackOverflow answer](http://stackoverflow.com/a/6006679/4651668), here's a beastly git command to take only the package-relevant files and rewrite history to include only relevant commits.

[code]

This command currently will transfer the `LICENSE.md` and `setup.py` files to the new repo as well as everything in the `cognoml` dire

[2016-10-25 01:03] #57 closed

[2016-10-25 01:03] #61 closed

[2016-10-25 14:07] dhimmel commented on #64
Okay I used the [above command](#issuecomment-255856647) to populate the new cognoml repository up to cognoma/cognoml@d4ab12c1baf166ca6ae7612b0e414c2d41fbea80.

[2016-10-26 01:34] joshlevy89 opened #66 "TP53 mutation prediction from metadata"
I'm new to the group so let me know if there is a better place to write this kind of thing...

I am working on assessing whether the gene expression data provides considerably more predictive information than the metadata (samples.tsv). I created a notebook to predict TP53 mutation from the metadata alone and achieved ~.82 AUROC.  This is substantially lower than the AUROC achieved using gene expr

[2016-10-26 13:58] dhimmel commented on #66
Nope Issues are the right place. I'm going to tag a few related issues for convenience: https://github.com/cognoma/machine-learning/issues/8, https://github.com/cognoma/machine-learning/issues/21, https://github.com/cognoma/machine-learning/pull/47.

See [this notebook](https://github.com/cognoma/machine-learning/blob/f30c944f054cab151119e8cc116f27f62fa09da7/explore/confounding/confounding.ipynb)

[2016-10-26 14:07] joshlevy89 commented on #66
@dhimmel Thanks for the reply. That sounds good.  I can tackle it in the next couple of days.

[2016-11-01 23:42] KT12 commented on #27
I would like to work on the multi-layer perceptron classifier.

sklearn.neural_network.MLPClassifier

[2016-11-01 23:56] davidrichardsteinmetz commented on #27
I'd like to claim LDA/QDA and give it a shot

[2016-11-02 13:51] #64 closed

[2016-11-17 00:02] htcai opened #68 "A quick guide for new members"
Since there often are new members who join us, it seems a good idea to provide a quick guide for the machine learning work for Cognoma. The `README.md` file has been working as a guidance for setting up the Python environment. In addition, I think it is helpful to cover the following issues in the quick guide by either providing the code, or the link to the appropriate webpages:

* Install and con

[2016-11-17 00:16] dhimmel commented on #68
Fantastic -- documentation is an incredibly important contribution that is often forgotten. We'd love whatever help you'd like to provide.

[2016-11-17 00:34] htcai commented on #68
@dhimmel Thanks for your prompt comment! I will start to compose the documentation after I submit my pull request for the sparsity of the mutation MAP2K1.

[2016-11-17 16:43] KT12 commented on #27
I'll also take a look at the Passive Aggressive Classifier

[2016-11-19 02:01] htcai opened #70 "Memory issue"
I am running my notebook obtained by revising the latest _2.TCGA-MLexample_ in Ubuntu on my laptop (8GB RAM & 8GB swap). I used over-sampling which increased the size of the training data by about 7%. My machine keeps running into memory problem: `OSError: [Errno 12] Cannot allocate memory`, as well as other exceptions

There is no problem after I discard `pipeline`. I will use my MacBook (using c

[2016-12-07 00:26] dhimmel opened #72 "Performance on genes with targeted cancer therapies"
It seems that some of the most interesting genes to predict using expression will be genes that have targeted therapies. These genes are ideal, because we may be able identify unmutated samples that would still respond to the therapy based on their expression.

Here's a list of [targeted cancer drugs and thier genes](https://www.mycancergenome.org/content/molecular-medicine/overview-of-targeted-th

[2016-12-07 00:33] KT12 commented on #72
OK for me to look at 'BRAF' gene?

[2016-12-09 00:04] dhimmel commented on #70
Okay I think this memory issue probably started after we merged https://github.com/cognoma/machine-learning/pull/54. It may be worth considering reverting our pipeline to the old incorrect ordering.

[2016-12-09 00:22] htcai commented on #70
@dhimmel Thanks for your reply! In the older version of pipeline, `k` is fixed in the pipeline while we feed a singleton list (e.g., [2000]) to the pipeline in the current version. Does this lead to the difference that GridSearchCV will fit `SelectKBest` only once in the former case while it will be fitted for each training fold in the latter?

[2016-12-09 00:53] dhimmel commented on #70
Previously the grid_search only included the SGDClassifier. Now the grid_search includes the entire pipeline. Therefore, cross validation now refits the feature selection (if used) and standardization (if used) on every training-fold rather than once on the entire X_train.

[2016-12-09 01:44] htcai commented on #70
Daniel, thank you for your confirmation! This information is very helpful.

[2016-12-14 22:03] KT12 commented on #72
Would it be a good idea to add a new folder attempting to predict the genes on that list?

[2016-12-14 22:19] brankaj commented on #72
Hey @KT12 ,
I believe we can still upload the files to this folder:
https://github.com/cognoma/machine-learning/tree/master/explore.
Maybe we can name files based on the different subset of genes.

[2016-12-14 22:39] KT12 commented on #72
@brankaj , sounds good.  Sorry I didn't realize what the folder was for.

[2016-12-14 23:45] superkostya opened #73 "Installing a Python Neo4j driver on OSX"
Hi all,

I am having hard time running the "2.TCGA-MLexample.ipynb" notebook. The problem occurs at the line

`from neo4j.v1 import GraphDatabase`

I believe I have to install Neo4j, or rather py2neo, the Python library that gives access to it. When I use the recipe from anaconda.org

`conda install -c ivoflipse py2neo=1.6.4`

I get a message

[code]

Has anybody successfully installed py2neo on O

[2016-12-15 00:11] dhimmel commented on #73
Have you tried installing the conda environment for this repository? [Instructions here](https://github.com/cognoma/machine-learning/tree/1c27195c485fd623f30dbeec57808fba1c71c687#environment).

This environment [includes a line](https://github.com/cognoma/machine-learning/blob/1c27195c485fd623f30dbeec57808fba1c71c687/environment.yml#L15) to install `neo4j-driver` using `pip`. Note that `neo4j-driv

[2016-12-15 14:26] superkostya commented on #73
Hi Daniel,
Thanks for the tip! I did forget to install the environment. I'll try it today.

As for "pip install py2neo", I generally try to avoid mixing pip and conda; in my experience, it might cause problems later down the road. In any case, installing the environment should solve my problem.

[2016-12-15 14:29] dhimmel commented on #73
Cool let us know how it goes.

My rule of thumb is that if the package is available in the default anaconda channel, I'll install it using conda. Otherwise I use pip. I haven't had too many problems with this.

[2016-12-15 18:31] KT12 commented on #72
Perhaps naming convention could be:

Classifier_Gene_Github-handle.ipynb
where Gene = column head from mutation-matrix.tsv.bz2?

@dhimmel  would you like to weigh in?

[2016-12-15 18:55] dhimmel commented on #72
@KT12: I'm not sure you need a new notebook for every mutation. It could be a good time to start migrating to the [cognoml package](https://github.com/cognoma/cognoml) for machine learning, in which case you could perhaps do multiple models in a single notebook.

[2016-12-15 18:57] KT12 commented on #72
Understood!

[2016-12-20 03:48] dhimmel commented on #73
@superkostya any updates? If the problem is resolved, you can go ahead and close the issue.

[2016-12-20 07:56] superkostya commented on #73
Summary:
As I said earlier, I totally forgot to install the environment for this project (D'oh!). After I did, the issue has been resolved. The only thing I had to do is manually install "neo4j": run the command
`pip install neo4j-driver`
after which all was right with the world. Thanks for the help. Issue closed.

[2016-12-20 07:56] #73 closed

[2016-12-20 20:17] KT12 commented on #72
I experienced some issues doing `pip install --editable .` for cognoml, but I guess we can discuss this at the meetup tonight.

[2016-12-20 21:07] dhimmel commented on #72
@KT12 can you post the error as a new issue on https://github.com/cognoma/cognoml/issues

[2016-12-20 21:24] KT12 commented on #72
I would but it might be my own fault.
I `git clone`'d cognoml to a new directory and then did `pip install --editable .`
By process of elimination, I think it may have messed up other package dependencies (`scipy` and `nltk`), but I'm not certain.  So I'd like to reattempt installing in the presence of experts before raising a new issue.

[2016-12-20 21:28] dhimmel commented on #72
No problem. In general I think it's more important to keep discussion of an open issue on topic. Opening a new issue isn't a big deal as it's easy to close it in case of use error. And if there's actually a bug (which there often is), we want a record. We'll look into this tonight.

[2016-12-21 00:04] KT12 commented on #72
Re-installed in the `cognoma-machine-learning` environment and it hasn't interfered.  So chalk my problem up to user error.

[2017-01-13 22:22] KT12 commented on #68
@htcai let me know if you need help with beginner documentation.

[2017-01-13 22:42] htcai commented on #68
@KT12 Thanks in advance for your help! I plan to write a sketchy (and incomplete) draft, so that you and other people can also contribute to it.

[2017-01-16 02:33] KT12 commented on #70
There is a fix suggested [here](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux).

After implementing the fix, I tried using Isomap to do some dimensionality reduction but my Jupyter Notebook still yielded `OSError: [Errno 12] Cannot allocate memory`.

[2017-01-16 18:33] dhimmel commented on #70
@KT12 So you kept `n_jobs=1` in [`sklearn.manifold.Isomap`](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.Isomap.html)? It's possible that even with only one job running `Isomap`, you could run out of memory.

You can also set `n_jobs=1` in GridSearchCV, not sure exactly what stage is causing you to run out of memory. See https://github.com/cognoma/machine-learning/issues/43#is

[2017-01-16 19:48] KT12 commented on #70
I kept the default `n_jobs=1` in Isomap.  I'll try it again using all cores.

The SGDClassifier had `n_jobs=-1`.

On various attempts, it's been mostly the classifier that ran out of memory.  The few times I was able to run the classifier, the **Investigate the predictions** block is what gave me an issue.

[2017-01-16 19:57] dhimmel commented on #70
That may speed things up but will only make memory issues worse!

[2017-01-16 22:16] htcai commented on #70
I just found and experimented a [solution](https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04) for the memory issue in Ubuntu 14.04. For 16.04, a similar solution is also [available](https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-16-04). Mainly, more swap space can be added via swap file. I added a swap file of 16GB and finished runni

[2017-01-31 14:45] gwaybio commented on #8
this issue has come up once again - it appears to be something the field is keenly aware of but do not know of a "best" solution for. It also appears to be extremely important when trying to predict the gene expression signature of samples that have DNA damage repair response defects.

Some of the solutions I have seen so far:

* Remove [hyper mutated tumors](https://doi.org/10.1038/nrc3816)
  * [

[2017-02-14 00:17] jruhym commented on #68
This tutorial is useful for conda. It takes ~30 min.
https://conda.io/docs/test-drive.html

[2017-02-14 00:59] jruhym opened #82 "Git large-file storage"
It might be useful to store the files currently being downloaded by 1.download.ipynb on git's large file storage. That way we can eliminate 1.download.ipynb and have the data files under version control.
https://git-lfs.github.com/
It needs to be investigated whether git-lfs can be incorporated via conda into the environment automatically.

[2017-02-14 02:15] patrick-miller opened #83 "Multiple comparisons problems"
I'm still working my way through the paper published by @gwaygenomics, @allaway and @cgreene, but it made me think of an issue that I believe we should try to deal with in our final product. In the paper they had a specific hypothesis that they tested; however, we are going to provide people with the ability to test out hypotheses on thousands of different mutations.

There are some problems with

[2017-02-15 04:22] MichaelKheifetz commented on #68
Sorry if this is slightly off topic, is there any location where all the feature names are listed in something like a data dictionary or something of the like so its easy to look at?

[2017-02-15 16:53] KT12 commented on #82
Semi-related to this topic, would it make sense to pickle the `X` and `Y` matrices?  It takes about 2 minutes for my machine to load each one every time I start a Notebook.  I would think the un-pickling would be faster than this.

[2017-02-15 17:27] dhimmel commented on #82
@KT12 yes great point. `cognoml` currently does pickle for the reading speed-up.

I think it makes sense to use Git LFS to store these pickles in the `machine-learning` repo. And the `cancer-data` repo can store the compressed TSVs using Git LFS.

I reached out to GitHub support to see if we can get some LFS capacity.

[2017-02-15 19:08] dhimmel commented on #68
@MichaelKheifetz thanks for your question. Would you like to open a [new issue](https://github.com/cognoma/machine-learning/issues/new), so we can keep discussion organized?

[2017-02-15 19:16] MichaelKheifetz commented on #68
Sure, I guess I wasn't sure how to word it properly in a new issue. I just wanted to have a better biological grasp of both what the features and target variables actually represent from a biology point of view....

[2017-02-15 21:33] #12 closed

[2017-02-15 21:33] #14 closed

[2017-02-15 21:45] dhimmel commented on #83
@patrick-miller great issue. It's something we should consider to avoid [false research findings](https://doi.org/10.1371/journal.pmed.0020124 "Why Most Published Research Findings Are False"). You touch on several partial solutions, which I think all have merit.

One more possibility would be to choose a more conservative regularization strength than the highest performing `alpha` in cross valida

[2017-02-16 15:59] jruhym commented on #82
One can incorporate `git-lfs` via `conda` by adding the lines to the `environment.yml`
`channels:`
`- defaults`
`- conda-forge`
`dependencies:`
.
.
.
`- git-lfs=1.5.5`
This will incorporate the dependency as found [here](https://anaconda.org/conda-forge/git-lfs).

I have tested this on my machine and it works. I know that @dhimmel is waiting to hear back from GitHub, but I did attempt to test the

[2017-02-16 16:03] dhimmel commented on #82
@jruhym nice... git-lfs as part of the conda environment will add convenience. Regarding `channels`, I think we'll want defaults to precede conda-forge.

[2017-02-16 17:59] jruhym commented on #82
@dhimmel I updated my comment to address your suggestion.

[2017-02-17 19:12] dhimmel commented on #82
Okay we now have LFS capacity on GitHub through their education program! Thanks @github for the generosity.

I will submit a pull request on `cancer-data` to add git-lfs. Then we can upload pickled versions here.

[2017-02-28 22:25] dhimmel commented on #82
See https://github.com/pandas-dev/pandas/pull/13317#issuecomment-283180782

Pickled files load almost instantly but are over 1 GB uncompressed.

[2017-03-01 23:25] jruhym opened #86 "Thrashing in 2.TCGA-MLexample"
When my MBP with 16 GB of RAM hits this line `cv_pipeline = GridSearchCV(estimator=pipeline, param_grid=param_grid, n_jobs=-1, scoring='roc_auc')` it thrashes. The n_jobs parameter causes multiple jobs to be created, with them a higher demand on RAM. My MBP has a i7 processor which is hyper-threaded. When n_jobs=-1, it spins up as many tasks as the machine has cores, but it thinks that my machine

[2017-03-01 23:35] jruhym commented on #86
![thrashing](https://cloud.githubusercontent.com/assets/3942442/23486391/d92aa62a-fead-11e6-8656-822fd2f58e37.jpg)

[2017-03-02 15:49] jruhym commented on #86
Relates to https://github.com/cognoma/machine-learning/issues/70

[2017-03-02 15:49] #86 closed

[2017-03-06 14:49] gwaygenomics opened #87 "Predicting BRAF V600E activation in colorectal cancer"
[BRAF V600E](http://cancer.sanger.ac.uk/cosmic/mutation/overview?id=476) mutations are common in several cancer types, including [melanoma](https://www.mycancergenome.org/content/disease/melanoma/braf/54/). This mutation is also present in about 8% of [colorectal cancer patients](https://doi.org/10.4137/BIC.S25248) (COAD and READ). However, there is emerging evidence that this [subgroup is genomic

[2017-04-04 21:44] dhimmel opened #88 "OncoKB: Precision Oncology Knowledge Base"
http://oncokb.org contains [418 genes](http://oncokb.org/#/genes) with varying levels of evidence for their role as cancer targets. This is a great list of genes to fit classifiers for.

[2017-04-07 02:43] George-Zipperlen opened #90 "TOTAL column is skewing the heatmap in 3.TCGA-MLexample_Pathway"
Hi, @dhimmel and @gwaygenomics

I hope that this is the right place to ask a question about the code in
*3.TCGA-MLexample_Pathway.ipynb*

I'm working on converting the first heatmap:
	"percentage of different mutations across different cancer types"
from seaborn to to Altair/vega-lite, continuing from the fine work of
@superkostya.

I have figured out how to use different color maps in vega-lite,

[2017-04-13 17:42] dhimmel commented on #90
For reference, see the related PR https://github.com/cognoma/machine-learning/pull/91.

The `Total` column indicates what percentage of the samples for a given disease have a mutation in any of the displayed genes. In other words, the total column is always guaranteed to be the max frequency for a given disease.

[2017-04-25 22:32] George-Zipperlen commented on #90
Thanks @dhimmel

[2017-04-25 22:32] #90 closed

[2017-05-10 01:05] rdvelazquez commented on #11
What's the status of this? I've looked for a benchmark data set before but haven't found one.

@dhimmel or @ejsegall: Let me know if this is something I should take a crack at... if so, we could discuss some specifics (which data sets/queries to include; whether to implement as a notebook in the explore repo, as a feature for cognoml (which may help with https://github.com/cognoma/cognoml/issues/4

[2017-05-26 17:54] dhimmel opened #94 "Evaluate dask-searchcv to speed up GridSearchCV"
I'm excited about trying out dask-searchcv as a drop-in replacement for `GridSearchCV`. For info on dask-searchcv see, the [blog post](http://jcrist.github.io/introducing-dask-searchcv.html), [github](https://github.com/dask/dask-searchcv), [docs](http://dask-searchcv.readthedocs.io/en/latest/), and [video](https://youtu.be/RA_2qdipVng?t=35m08s).

I'm hoping using dask-searchcv for GridSearchCV wi

[2017-05-26 18:01] dhimmel commented on #11
@rdvelazquez let's focus on https://github.com/cognoma/machine-learning/issues/94 as a priority. Then we can reassess our needs regarding this issue, especially after https://github.com/cognoma/machine-learning/pull/93 is merged.

[2017-05-26 18:10] rdvelazquez commented on #94
Yea, I'm definitely interested! I'll have a little time to look into this before next Tuesday's meet-up so I'll come ready with some questions and suggestions to discuss.

@patrick-miller : Did you look into dask-searchcv yet? I don't want to duplicate work.

[2017-05-26 19:02] patrick-miller commented on #94
I only read the docs, so go for it!

It isn't directly relevant to dash-searchcv, but one thing we need to keep in mind when implementing PCA on our features is that we want to only run PCA on the expression features and not the covariates. I have created a new issue for just this #96.

[2017-05-26 19:06] patrick-miller opened #96 "PCA (and other pre-processing steps) on just the expression matrix in CV pipeline"
We have two sources of features: the covariates and the gene expression matrix. When pre-processing this data, we generally want to perform dimensionality reduction only on the expression matrix.

This can prove cumbersome when trying to implement PCA in a pipeline. Scikit-learn does not provide this sort of functionality out of the box, but I believe it is possible to continue using pipelines. [H

[2017-05-30 23:43] athril commented on #11
You may consider using PMLB as a benchmark instead of creating a new one: https://github.com/EpistasisLab/penn-ml-benchmarks

[2017-05-31 02:36] patrick-miller opened #97 "Standardize the plots in notebooks"
I wanted to open this issue so that we could discuss what framework we wanted to use in the notebook that we export for our users. There are a lot of [options](https://www.youtube.com/watch?v=FytuB8nFHPQ).

Right now, the majority of the plots are in **matplotlib/seaborn**. There is a pretty good replication of R's ggplot2 with yhat's **[ggpy](https://github.com/yhat/ggpy)**.

We can use JavaScrip

[2017-05-31 13:38] George-Zipperlen commented on #97
Thanks @patrick-miller for the pointer to https://github.com/altair-viz/jupyter_vega.

I will look into this.

I had reached a brick wall with altair/vega-lite in that some of the graph attributes were not accessible in the available json properties / python classes.

For example horizontal / vertical orientation of axis and legend.  The examples force a horizontal orientation to the heatmap legen

[2017-06-02 20:44] rdvelazquez commented on #94
I'm still looking into this and hope to post a WIP pull request early next week so you can see what I'm working on. So far dask-searchcv itself is very easy to implement but it does not seem to negate all the issues associated with running PCA in the pipeline... I'll have more soon.

[2017-06-05 16:17] rdvelazquez commented on #94
Here's my WIP notebook: [dask-searchCV](https://github.com/rdvelazquez/machine-learning/blob/daskSearchCV/explore/dask-searchCV/dask-searchCV.ipynb)

@dhimmel and @patrick-miller, some questions on where to go from here:
1. What should I include in the pull request? I'm thinking: Update [environment.yml](https://github.com/cognoma/machine-learning/blob/master/environment.yml) to include dask-searc

[2017-06-06 14:58] dhimmel commented on #94
I'd open an exploration PR. In other words, a PR with the [notebook](https://github.com/rdvelazquez/machine-learning/blob/fdb13425f64dc9ac303536bbf36d62f408b99c47/explore/dask-searchCV/dask-searchCV.ipynb) you link to above. Then after #93 by @patrick-miller is merged, you can update the main notebooks.

For efficiency reasons, I'm hoping we can have presets for `n_components` based on the number

[2017-06-06 15:04] dhimmel commented on #97
@patrick-miller I think your comment does a good job summarizing the options. I wish I were more familiar with the options. I've never used bokeh or ggpy, but they both seem like promising options.

I do think it would be nice to get away from seaborn/matplotlib. Seaborn is nice, but has very limited and predefined functionality. And tweaking the raw matplotlib is a pain. But obviously we'd need a

[2017-06-06 15:13] rdvelazquez commented on #94
Thanks @dhimmel I'll open an exploration PR now.

I looked into this a bit and didn't find a clear correlation between number of positives and ideal n_components... this will be easier to evaluate now that we can include PCA in the pipeline. @htcai let me know if this is something you are working on... if not I can look into it.

[2017-06-06 15:16] dhimmel commented on #96
In https://github.com/cognoma/machine-learning/pull/67, @joshlevy89 ended up exploring different ways of applying tranformations on a subset of features (e.g. PCA on expression features only). See https://github.com/cognoma/machine-learning/pull/67#discussion_r86557384. It looks like we ended up removing all solutions from the PR. However, there were at least 2 options we discussed:

1. Using [`sk

[2017-06-06 15:26] dhimmel commented on #94
This is getting off topic, but on the topic of:

@rdvelazquez when working with small n_positives, you'll likely need to switch the CV assessment to use repeated cross validation or a large number of `StratifiedShuffleSplit`s. See discussion on https://github.com/cognoma/machine-learning/pull/71 by @htcai. We [ended up](https://github.com/cognoma/machine-learning/blob/9b87c440b5d96f30e4bda3d6ba858

[2017-06-06 21:24] patrick-miller commented on #96
Great, thanks for the pointer, I missed the comment on my first pass. I have opened a PR (#100) that uses `FeatureUnion`, and it seems to work correctly.

[2017-06-07 17:08] joshlevy89 commented on #96
It's been awhile since I've worked with these modules so I don't remember specifics beyond what I wrote in the PR.  I think the key points from that were:
1) DataFrameMapper was more concise but was an extra dep plus was relatively new (leading to some weird behaviors)
2) FeatureUnion worked in many situations, but note from that PR:
"It should be possible to apply Imputer to only covariates. But

[2017-06-16 03:23] patrick-miller commented on #56
If we are performing PCA on the expression matrix to create our features, then I am not sure how important sparsity is going to be in the end classifier. This is probably even more true when the number of components we chose is <= 100.

[2017-06-17 17:38] #96 closed

[2017-06-23 14:52] #94 closed

[2017-06-27 22:51] George-Zipperlen commented on #97
I propose using Bokeh instead of Vega-Lite for Cognoma visualizations:

+ Bokeh supports interactive charts
+ Grammar of Graphics influenced
+ abstract rendering
+ dynamic downsampling
+ server plot hosting
+ Interacts directly with HTML 5 canvas
+ So it will work both in a Jupyter notebook, and in a dashboard
+ Python API
+ It is possible to easily convert Matplotlib, Seaborn, charts to Bokeh
+ W

[2017-06-28 16:44] patrick-miller commented on #97
Those sound like good reasons to me. The embedding of Vega plots in static notebooks is a work-in-progress, so if we want to ship this by the end of the summer, we should probably go a different direction.

I would think that Bokeh is not as good for use in the results viewer (because it is Python). That is unless you can create a template and then just drop in the new data through JSON, without h

[2017-06-28 17:09] George-Zipperlen commented on #97
The full fledged bokeh implementation users a server to mediate between python accessing the data, and javascript handling the client interactions in dashboards.  Json is used to communicate.

I believe one can get at this json without using a bokeh server, but I haven't got that far yet. I'm still going through the tutorials on how to run bokeh in a jupyter notebook.

[2017-06-28 21:42] dhimmel commented on #97
I came across this [helpful post](http://pythonplot.com/) comparing python plotting options. Turns out there is another ggplot2 python clone called `plotnine`. See https://github.com/has2k1/plotnine/issues/1

[2017-07-11 13:14] rdvelazquez opened #106 "Selecting the number of components returned by PCA"
A topic that has come up a number of times is how many components should be returned by PCA...

- The number of components (`n_components`) can be a parameter that is searched across in `GridSearchCV`. This used to cause problems with thrashing (#43) but these problems seem to have been eliminated by using the dasksearcCV implementation of `GridSearchCV` (#94).
- Although `n_components` _can_ be i

[2017-07-11 13:32] patrick-miller commented on #106
Thanks Ryan, this sounds like a good plan. Because of the increased speed
of the pipeline, I'm in favor of just upping the number of components we
search over.

One thing that I will add is that we haven't optimized for the
regularization strength yet (`alpha`). My guess is that the interplay
between it and `n_components` is meaningful. I think it makes sense to
optimize for them jointly.

The pro

[2017-07-11 13:41] rdvelazquez commented on #106
Agreed. I would assume the interplay between `n_components` and `l1_ratio` would also be very important (an `l1_ratio` of greater than 0 will include less features and likely have a large impact on the optimal `n_components`). I'll put a reference to #56 here as well as that talks about what `l1_ratio` to use.

[2017-07-11 13:45] htcai commented on #106
@rdvelazquez Thanks for opening this issue! I also think this is a must-do if we want to enable search over optimal `n_components` for Cognoma web interface. It is in line with my experience that unbalanced mutations usually have a smaller optimal `n_components`.

In order to limit the range of search for optimal `n_components`, we may need to experiment with a large variety of genes (including ma

[2017-07-11 13:51] rdvelazquez commented on #106
Thanks @htcai !

I'm thinking the total sample size (i.e. ~7,000 samples if including all diseases and <7,000 if only including a subset of diseases) may have an impact as well.

Sounds good. I evaluated the speed increase with dasksearchCV [here](https://github.com/cognoma/machine-learning/blob/master/explore/dask-searchCV/dask-searchCV.ipynb).

[2017-07-13 11:45] rdvelazquez opened #108 "How notebooks will work in production"
@wisygig, @dcgoss and/or @dhimmel, what are your thoughts on how the Jupyter Notebook part of the application will work? I'm specifically interested in:

- Where and how will the notebook be hosted/executed?
- How will the back end interface with the notebooks?
- How will the specific information from the user's query (genes and diseases) be inputted/updated in the notebook?
- How will the specifi

[2017-07-13 14:45] dcgoss commented on #108
Hey Ryan!
We are actually much further along than you think. Here is how the notebooks run:
1. Frontend sends request to core-service (https://github.com/cognoma/core-service) to create a classifier.
2. Classifier object is created, containing the genes and diseases selected by the user, as well as various system-generated metadata related to queueing (priority, completed_at, failed_at, etc).
3. h

[2017-07-13 15:09] rdvelazquez commented on #108
Thanks for the update Derek! I'm glad i asked ; ) This is useful info. I'll take a look at ml-workers in more detail later to understand how it works and may get back to you with some questions. I'm loving the progress!

[2017-07-14 23:28] dhimmel commented on #106
For the time being, before we get a better indication of the ideal PCA n_components by number of positives and negatives, I'd suggest expanding to something like `[10, 20, 50, 100, 250]`.

As per #56, I suggest sticking with the default `l1_ratio` but expanding the range of `alpha`. You can use `numpy.logspace` or `numpy.geomspace` to generate the `l1_ratio` range.

I also think we may want to swi

[2017-07-16 15:29] patrick-miller commented on #106
@dhimmel when you say stick to the default `l1_ratio` do you mean the `sklearn` default of 0.15? I made a comment in @56 mentioning that we may want to consider just using ridge regression since we have switched from `SelectKBest` to `PCA`. The number of features we are using has been reduced significantly, so I'm not sure what we get from sparsity in the classifier.

[2017-07-16 16:06] dhimmel commented on #106
That's what I was thinking (`l1_ratio = 0.15`). But your logic for using ridge (`l1_ratio = 0`) when we're using PCA makes sense to me. I don't have a strong opinion since I can see some principal components being totally irrelevant to the classification task and hence truly zero. I think we should pick whichever value gives us the most usable / user-friendly results. For example, with elastic net

[2017-07-16 23:11] patrick-miller commented on #106
I'm starting to run into RAM bloating issues again with the switch to `StratifiedShuffleSplit` and increasing the parameter search space.  It balloons up quickly even with just 10 splits. I think we are going to need to move this to EC2.

As for performance with TP53, I have `alpha = 1` and `n_components = 640` performing the best...but 640 is the edge case (AUROC ~93%).

![image](https://user-ima

[2017-07-17 13:29] rdvelazquez commented on #106
Nice progress @patrick-miller. Thanks for posting the heatmap. That's very informative.

Just to confirm... the heat map above is with l1_ratio of 0.15 and the RAM issues are using dasksearchCV?

We may want to consider pulling PCA out of CV. I see three places we could do PCA (I'm saying we should consider trying 2 below instead of 3):

1. Before the test/train split: This is a data leak and coul

[2017-07-18 23:57] patrick-miller commented on #106
That is with `l1_ratio=0` and using dasksearch.

With respect to (2), it may not be a data leak but it could bias the classifier. There is significant difference in performance between models with different `n_components` so this could alter which model is chosen.

[2017-07-19 00:03] wisygig commented on #108
@rdvelazquez , @dcgoss

I've got a bit of code for creating templates from jupyter notebook files, as well as filling in certain keywords. I'll add a pull request to https://github.com/cognoma/ml-workers once I've finished a couple of use examples.

[2017-07-19 01:39] rdvelazquez commented on #108
That sounds good @wisygig. I'm looking forward to seeing how that works.

@dcgoss I haven't gotten a chance to look at `ml-workers` enough to really understand it but that was actually one of my questions/comments. It looks like you are inputting the query specific information with an environmental variable but this may break the portability of the notebook. I've only briefly looked at the code so

[2017-07-19 01:52] rdvelazquez commented on #106
True, but I'm not thinking we wouldn't still search over a range of `n_components`... I'm thinking we would perform PCA on the training set, the PCA components would be our `X Train` and we would use something like `SelectKBest` to search over a range of features (PCA components) to include in the model but instead of performing PCA within CV it's already been performed on the whole training set.

[2017-07-19 02:37] patrick-miller commented on #106
Using `SelectKBest` is in essence doing the same thing as iterating over a variety of `n_components` after running the decomposition. I need to think about it a little more, but I believe you might still be leaking information here -- from the train partition of the CV fold to the test partition of the CV fold. You would get different principal components if you perform the decomp within cross-val

[2017-07-19 02:48] rdvelazquez commented on #106
I agree, but this may not have much of an effect, and I don't think it's a big deal if our training `AUROC` score is slightly inflated as long as the testing `AUROC` score is still accurate.

I also agree that the cross-validation will be less robust this way but if it lets us search over a larger range of `n_components` I think that will far outweigh the small loss of robustness.

P.S. I know thi

[2017-07-19 13:49] htcai commented on #106
I also agree that we should fit a `PCA` instance for each CV fold. A fitted `PCA` instance is part of the final model, as is the `SGDClassifier`.

I did PCA together with scaling before Grid Search in [#71](https://github.com/cognoma/machine-learning/blob/master/algorithms/RIT1-PCA-htcai.ipynb), just because the former was not feasible given the computation resource I had. Still, we can have a sep

[2017-07-19 14:17] dhimmel commented on #106
A few notes.

The case @patrick-miller describes where `n_components = 640` (or more) is optimal will be relatively uncommon, since _TP53_ is the most mutated gene. In general, there will be fewer positives. I'm okay with not always getting the best model in these extreme cases. The researcher could always iterate by adding larger `n_components` values to the notebook. The RAM issues are a concern

[2017-07-19 17:20] dcgoss commented on #108
@rdvelazquez That's correct, at the moment the notebook just uses environment variables so while you can print out those values at runtime they aren't actually hardcoded into the notebook itself. Looking forward to your PR @wisygig :)

[2017-07-26 19:17] wisygig commented on #108
@dcgoss I've added the PR: https://github.com/cognoma/ml-workers/pull/13
@rdvelazquez: I hope the example is useful. Let me know if there's anything unclear.

[2017-07-27 01:35] rdvelazquez commented on #108
This looks pretty cool! I skimmed through the code and I'm going to try to get it to work on my computer with my own example. I'll let you know if/when I have issues. and yes, the example (and README) are very useful.

[2017-08-01 18:06] rdvelazquez commented on #108
As cognoma.org is currently set up there seems to be no option to select a specific classifier/notebook. Are we thinking this will be the way cognoma works in production (i.e. only one notebook to handle all queries)?

@dhimmel you would know better than me but I think having the option to have multiple notebooks that the user could choose from would be ideal. This could potentially be built in an

[2017-08-01 18:10] dcgoss commented on #108
@rdvelazquez core-service and ml-workers are built to accommodate different types of notebooks, however we would need to make a few small changes.
All classifiers have a `title` attribute which serves to indicate the type of notebook they are running (this field is currently useless as there is only one notebook). ml-worker can and does pull specific types of classifiers off the queue using this t

[2017-08-10 20:20] dhimmel commented on #108
I agree this would be nice. Today was @dcgoss's last day of his summer internship... so I don't want to task him with a big backend change. Especially if we're not definitely going to need it. Perhaps the right approach would be to upgrade the backend to support multiple notebooks only once / if we have multiple production ready notebooks.

The frontend should do some checks... like enforcing a mi

[2017-08-13 20:39] rdvelazquez commented on #108
@dcgoss Congrats on finishing the internship... Productive summer!

@dhimmel Makes sense to keep it to just one notebook for now to limit the needed changes. There may be a chicken or egg dilemma (no one's going to make new notebooks if cognoma.org won't support them; cognoma.org won't support new notebooks if no one makes them) but we can cross that bridge if/when we get to it.

The frontend chec

[2017-08-16 00:33] rdvelazquez opened #110 "Machine Learning Punch List for Launch"
Here's the general punch list that we discussed at tonight's meetup for getting the machine learning part of cognoma launch ready.

- [x] Update Notebook 2 to be compatible with ml-workers and PR ml-workers so the two notebooks are the same (https://github.com/cognoma/machine-learning/pull/111 by @patrick-miller)
- [x] Change plotting in notebooks from vega to plotnine (https://github.com/cognoma/

[2017-08-31 13:47] rdvelazquez commented on #6
Although this would be a nice feature I don't think there are plans to include it at this time. Closing this issue.

[2017-08-31 13:47] #6 closed

[2017-08-31 13:48] rdvelazquez commented on #6
@dhimmel I'd like to clean-up the issues tab by closing issues that are resolved or are no longer relevant. I think this will allow us to more clearly see what still needs to be addressed. I can try to leave comments in the issues I'm closing to state why it's being closed and provide links to PRs that address the issue (if applicable).

Before I did this I thought I should check with you first...

[2017-09-21 17:04] rdvelazquez commented on #106
Closed by #113

We will be using a function to select the number of components based on the number of positive samples in the query (or the number of negatives if it is a rare instance with more positives than negatives). The current function looks like:

[code]

[2017-09-21 17:04] #106 closed

[2017-09-22 00:54] patrick-miller commented on #110
Once we are happy with the final notebook, we should do a final cleanup (there is still a warning in the import section) and then I will do a PR into `mlworkers`.

[2017-09-26 22:14] rdvelazquez commented on #56
Closed by #114

[2017-09-26 22:14] #56 closed

[2017-09-26 22:24] rdvelazquez commented on #11
Thanks for the heads up about PMLB @athril. This is quite a long list of benchmark datasets; the benchmark data-set for testing cognoma is fairly specific and I didn't see anything that would meet our needs on PMLB.

[2017-09-26 22:27] rdvelazquez commented on #11
@brankaj provided a very nice list of applicable genes in #52. I also expanded this by subsetting queries by disease in #113. I think we can close this issue for now.

[2017-09-26 22:27] #11 closed

[2017-09-26 22:28] rdvelazquez commented on #97
@patrick-miller is this issue now wrapped up by #112?

[2017-09-26 22:33] patrick-miller commented on #97
Yes this is closed

[2017-09-26 22:33] #97 closed

[2017-10-02 19:51] patrick-miller commented on #110
@rdvelazquez @dhimmel @wisygig

Because the launch party is coming up, I was going to open a PR to push the notebook to production this week/weekend. I think Ryan has made very good progress, and our focus should probably be put towards making sure that his changes work on our AWS instances.

[2017-10-02 19:55] dhimmel commented on #110
I agree & fully support!

[2017-10-02 21:00] rdvelazquez commented on #110
Sounds good to me!

[2017-10-04 22:20] patrick-miller commented on #110
Using the updated notebook and a small sample set, I got reasonable results back in production. We are getting the following warning for a pandas import:

![image](https://user-images.githubusercontent.com/5490674/31202431-9bd55b70-a930-11e7-8801-b5b485d29a29.png)

I'm going to run a larger query, to see if we get memory issues.

[2017-10-04 22:27] patrick-miller commented on #110
The larger query for TP53 as the gene and all diseases selected runs into a memory error.

@dhimmel @rdvelazquez

[2017-10-04 22:34] dhimmel commented on #110
Okay @kurtwheeler and I will discuss our options tomorrow and let you know what we're thinking.

[2017-10-09 18:44] patrick-miller commented on #110
Any updates on this? Should we reduce the hyperparameter search space? We could probably cut it in half, by looking at alpha for every 0.2 instead of 0.1.

[2017-10-09 18:55] dhimmel commented on #110
I'm hoping to get to this this afternoon. What I'm thinking is run the pathological query (TP53 as the gene and all diseases selected) locally and see how much memory is consumed. I would use [this technique](https://github.com/cognoma/machine-learning/issues/43#issuecomment-245379854) which @yl565 previously implemented.

This will let us know whether our AWS image size is too small or there is a

[2017-10-09 19:00] patrick-miller commented on #110
Oh, I'm not sure, I just assumed that's where the memory burden still was. I think @rdvelazquez would have a better answer.

[2017-10-09 19:12] rdvelazquez commented on #110
I assume that the hyperparameter space affects memory usage. I'm not positive but I don't see how it wouldn't. I also assume that the number of PCA components has a much greater affect on memory than alpha_range so we may also need to evaluate the number of PCA components.

Once we have the notebook code set-up to be profiled we can easily adjust the hyperparameter space and re-profile to quantify

[2017-10-09 21:43] dhimmel commented on #110
So I installed memory profiler (`pip install memory_profiler`) and then used the `%%memit` notebook magic. Here's the HTML export of the notebook: [2.mutation-classifier-1-job.html.txt](https://github.com/cognoma/machine-learning/files/1369872/2.mutation-classifier-1-job.html.txt). Reading the files consumed 4.5 GB, which increased to 6.5 after making the training / testing dataset. Fitting the de

[2017-10-09 21:58] kurtwheeler commented on #110
I've changed the cognoma EC2 instances from `m4.large` to `r4.large` which increased the RAM from 8 GB to 15.25 GB.

[2017-10-10 00:13] rdvelazquez commented on #110
FYI - I'm getting an error on cognoma.org when I try to search for diseases: "Failed to load diseases." in a pink bar across the top.
![error](https://user-images.githubusercontent.com/25244432/31363707-42719d94-ad2e-11e7-8381-0e09ffc80999.png)

[2017-10-10 00:50] dhimmel commented on #110
Me too! https://api.cognoma.org/diseases/ returns a 503 code.

[code]

@kurtwheeler and I will look into what failed tomorrow!

[2017-10-10 14:49] rdvelazquez commented on #110
Sounds good. If the issues seems difficult to track down or fix you could consider rewinding [#9](https://github.com/cognoma/infrastructure/pull/9) and just changing the EC2 size for now. The other changes from [#9](https://github.com/cognoma/infrastructure/pull/9) could then be troubleshooted after the launch party... with a little less pressure :wink:

[2017-10-10 14:55] dhimmel commented on #110
@rdvelazquez https://api.cognoma.org should now be back up. @kurtwheeler fixed it this morning. We had changed the instance type, but had not destroyed and recreated the instances (which ECS apparently requires).

[2017-10-10 15:00] patrick-miller commented on #110
Awesome! I can confirm that it works on TP53 with all diseases included:

![image](https://user-images.githubusercontent.com/5490674/31393633-338402a0-adaa-11e7-9a26-03dfbf1b4d2b.png)

[2017-10-10 15:01] rdvelazquez commented on #110
It's pretty fast too!

[2017-10-14 00:29] #110 closed

[2017-10-14 00:32] rdvelazquez commented on #108
Closing this for now. @wisygig feel free to open this back up if you want to implement [templating](https://github.com/cognoma/ml-workers/pull/13) and want to revisit anything here.

[2017-10-14 00:32] #108 closed

[2017-10-14 00:45] #70 closed

[2017-10-14 00:53] rdvelazquez commented on #66
I think this was closed by #67.

[2017-10-14 00:53] #66 closed

[2017-10-14 00:54] #58 closed

[2017-10-14 01:06] #31 closed

[2017-10-14 01:09] #43 closed

[2017-10-14 01:10] #23 closed